.categories {
    background-color: #c23616;

    h1 {
        font-style: italic;
    }

    .ctg-jumbotron {
        width: 100%;
        height: 520px;
        background: url('../../assets/handwrap.jpg');
        background-position: center right;
        background-size: cover;
        filter: grayscale(0.8);
    }
}

.ctg-main {
    position: relative;
    margin-bottom: 3rem;
}

.left-side {
    margin-right: auto;
    position: relative;
    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 5%;
        height: 1px;
        background-color: #fff;
        top: 50%;
        left: calc(100% + 1px);
        transform: translateY(-50%);
    }

    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 7px;
        height: 7px;
        background-color: #fff;
        top: 50%;
        left: calc(105% + 1px);
        border-radius: 50%;
        transform: translateY(-50%);
    }
}

.right-side {
    margin-left: auto;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 5%;
        height: 1px;
        background-color: #fff;
        top: 50%;
        right: calc(100% + 1px);
        transform: translateY(-50%);
    }

    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 7px;
        height: 7px;
        background-color: #fff;
        top: 50%;
        right: calc(105% + 1px);
        border-radius: 50%;
        transform: translateY(-50%);
    }

}

.central-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 25px;
        background-color: #fff;
        transform: translateX(-50%);
    }

    &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 2px;
        width: 25px;
        background-color: #fff;
        transform: translateX(-50%);
    }
}

.sign-rule {
    margin: 0 auto;
    width: 30%;
}

@media (max-width: 768px) {
    .categories {
        .container {
            width: 90% !important;
        }
    }

    .left-side, .right-side {
        margin: 0 !important;
        margin-left: auto !important;

        &::before {
            right: unset;
            left: unset;
            right: 100% !important;
        }

        &::after {
            right: unset;
            left: unset;
            right: calc(105% + 1px) !important;
        }
    }

    .central-line {
        left: 0;
    }

    .sign-rule {
        width: 80%;
    }
}