@import "~bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    font-family: 'Mochiy Pop One', sans-serif !important;
}

.text-fjalla {
    font-family: 'Fjalla One', sans-serif !important;
}

.text-anton {
    font-family: 'Anton', sans-serif !important;
}